name: Build and Deploy to Docker Hub
on:
  workflow_dispatch:
  push:
    branches:
      - "main"
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/books-api:latest
            ${{ secrets.DOCKER_USERNAME }}/books-api:v${{ github.run_number }}

  update-manifests:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout Manifests Repo
        uses: actions/checkout@v4
        with:
          repository: ${{ secrets.REPOSITORY }}
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          path: projeto-cicd

      - name: Update Docker image tag
        run: |
          cd projeto-cicd
          sed -i "s|image: ${{ secrets.DOCKER_USERNAME }}/books-api:.*|image: ${{ secrets.DOCKER_USERNAME }}/books-api:v${{ github.run_number }}|" k8s/deployment/api-deployment.yml
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          path: projeto-cicd
          commit-message: "chore: update Docker image to version v${{ github.run_number }}"
          branch: update-image-${{ github.run_number }}
          title: "Update image to version ${{ github.run_number }}"
          base: main
          delete-branch: false

      - name: Enable Pull Request Automerge
        run: gh pr merge --merge --auto --delete-branch "${{ steps.create-pr.outputs.pull-request-number }}"
        env:
          GH_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
